<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>TimsHub Admin Home</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/admin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/admin/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/admin/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/adminproduct">Product List</a>
                        <a href="/admin/adminCategory">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/adminOrderDetails">Order list </a>
                        <!-- <a href="page-orders-2.html">Order list 2</a> -->
                        <a href="/admin/adminOrderDetails">Order detail</a>

                        <a href="/admin/adminRefundRequest">Refund Request</a>
                    </div>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li> -->
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/add-product">Add product </a>
                       
                    </div>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li> -->
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/adminuser">Users</a>
                        <!-- <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a> -->
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/add-offer"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Offers</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/adminSalesReport"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Sales</span>
                    </a>
                </li>
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>

    <!-- admin dashboard session start -->

    
    <main class="main-wrap">
        
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/admin/imgs/people/avatharunknown.webp" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <!-- <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a> -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/admin-logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        <section class="content-main">

            
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Sales Report</h2>
                    <p>Whole data about your business here</p>
                </div>
               
            </div> 
            <div class="content-header d-flex justify-content-start">
                
                <div>
                    <form action="/admin/admin-getReport" method="post">
                    <a class="btn  rounded font-md">
                        <label for="EndDate">start Date:</label>
                    <input class="form-control" type="date" name="startDate" id="start-date" required>
                    </a>
                    <a class="btn  rounded  font-md">
                        <label for="EndDate">End Date:</label>
                    <input class="form-control" type="date" name="endDate" id="end-date" required>
                    </a>
                  <button type="submit" class="btn btn-primary btn-sm rounded">Create new</button>
                </form>
                </div>
               
           

            
            <div class="ms-5" >
                <a id="pdf" href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Download report</a>
            </div>
               
            </div> 


            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <% if( locals.orderData && locals.orderData.length ) { %>
                        <table id="sales-report" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">payment</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Amount</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i= orderData.length -1 ; i >=0 ; i--) { %>
                                <tr>
                                    <td>0901</td>
                                    <td><b><%= locals.orderData[i].customerName %></b></td>
                                    <td><%= locals.orderData[i].phoneNumber %></td>
                                    <td>
                                        <span><%= locals.orderData[i].address[0] %>, <%= locals.orderData[i].address[1] %></span><br>
                                        <span><%= locals.orderData[i].address[2] %>,<%= locals.orderData[i].address[3] %></span><br>
                                        <span><%= locals.orderData[i].address[4] %></span>
                                    </td>
                                    <td><span class="badge rounded-pill alert-success"><%= locals.orderData[i].paymentMethod %></span></td>
                                    <td><%= locals.date[i] %></td>
                                    <td><span class="badge rounded-pill alert-success">Completed</span></td>
                                    <td><%= locals.amount[i] %></td>
                                    
                                </tr>

                                <% } %>
                              
                            </tbody>
                        </table>
                        <% }else { %>
                            <p>No succesfull Orders</p>
                            <% } %>

                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>


            <!-- <div class="screen-overlay"></div> -->



         

          
                
              



        </section> 
         




       
    </main> 
    <script src="/assets/admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/admin/js/vendors/select2.min.js"></script>
    <script src="/assets/admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/admin/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/assets/admin/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/assets/admin/js/main.js" type="text/javascript"></script>
    <script src="/assets/admin/js/custom-chart.js" type="text/javascript"></script>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {

        $('#pdf').click(function (e) {
            swal({
             title: "Do you want to download the PDF file?",
             text: "",
             buttons: true,
             dangerMode: false,
         }).then ((willDelete)=>{
            if(willDelete){

                event.preventDefault();
                var element = document.getElementById('sales-report');
                let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
                var opt = {
                    margin: 0,
                    filename: 'SalesReport' + randomNumber + '.pdf',
                    html2canvas: { scale: 10 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
       
                html2pdf().set(opt).from(element).save();
            }

         })

                


        })


    })

    $(document).ready(function () {
        $('#xlsheet').on('click', function () {
            swal("Are you sure you want to do this?", {
                buttons: ["Oh noez!", "Aww yiss!"],
            }).then((res) => {
                if (res) {
                    const rows = $('#sales-table tr');
                    const data = [];


                    // Loop through rows and cells to build the data array
                    rows.each(function (index, row) {
                        const rowData = [];
                        $(row).find('th, td').each(function (index, cell) {
                            rowData.push($(cell).text());
                        });
                        data.push(rowData);
                    });

                    // Convert the data array to a SheetJS workbook and sheet
                    const ws = XLSX.utils.aoa_to_sheet(data);
                    const wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                    // Save the workbook as an Excel file
                    XLSX.writeFile(wb, 'sales-table.xlsx');
                }
            })

        });
    });

</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>