<%- include('header-1') -%>
<link rel="stylesheet" href="/stylesheets/coupon-apply-form.css">




    <main class="main">



        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>

        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">



                        <div class="table-responsive">

                          <% if (locals.cartItems && locals.cartItems.length > 0) { %>
                            <input hidden  id="cart-total" type="text" value="<%= Gtotal %>" >
                              <table class="table align-middle shopping-summery   clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <% for(let i = 0; i < locals.cartItems.length; i++) { %>
                                    <tr>
                                        <td class="image product-thumbnail"><img  src="<%= locals.cartItems[i].product_image %>" alt="#"></td>
                                        <td class="product-des product-name align-middle">
                                            <h5 class="product-name"><a href="shop-product-right.html"><%= locals.cartItems[i].product_title %></a></h5>
                                            </p>
                                        </td>
                                        <td class="price align-middle" data-title="Price"><span id=""><%= locals.price[i] %></span></td>
                                        <td class="text-center align-middle" data-title="Stock">
                                             <div class="detail-qty border radius  "> 
                                               
                                                 <button class="text-center"  style="border: none;background: none;" onclick="changeQuantity('<%= carId %>','<%= locals.cartItems[i].product_id %>','<%= userId %>',-1,'<%= locals.cartItems[i].product_price %>','<%= i %>')"><i class="fi-rs-angle-small-down"></i></button>
                                                 <p class="" id="<%= locals.cartItems[i].product_id %>" > <%= locals.cartItems[i].quantity %></p>
                                                 <button class="" style="border: none;background: none;"  onclick="changeQuantity('<%= carId %>','<%= locals.cartItems[i].product_id %>','<%= userId %>',1,'<%= locals.cartItems[i].product_price %>','<%= i %>')"><i class="fi-rs-angle-small-up"></i></button>
                                             </div> 
                                         </td>
                                        <td class="align-middle" data-title="Cart">
                                            <span id="<%= locals.cartItems[i].product_id %>-subtotal"> <%= locals.subtotals[i] %></span>
                                        </td>
                                        <td class="action align-middle" data-title="Remove"><button class="text-danger" style="border: none;background: none;"  onclick="removeCartItem('<%= carId %>','<%= locals.cartItems[i].product_id %>')"><i class="fi-rs-trash"></i></button></td>
                                    </tr>

                                    <% } %>
                       
                                    <tr>
                                        <td colspan="6" class="text-end">
                                            <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                        </td>
                                    </tr>
                                </tbody>
                              </table> 

                              <% } else { %>
                                <p>Your cart is empty.</p>
                                <% } %> 
                              

                            


                        </div>



                        <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a href="/shop" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>

                        

                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        


                        <div class="row mb-50">

                           <div class="col-lg-6 col-md-12">
                            <div class="heading_s1 mb-3 col-12 col-md-6 ">
                              <h4>Apply Coupon</h4>
                            </div>
                             <div class="row">
                              <div class="mb-3 col-12 col-md-11">
                                
                              <form id="coupon-form" action="#" target="_blank">
                                <input type="text" name="CouponCode" id="coupon-code-input" placeholder="Enter your coupon code">
                                <div class="form-group ms-3 mt-3">
                                  <button type="submit" class="btn btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                                </div>
      
                              </form>

                              <p style="color: rgb(242, 65, 65); font-size: 15px;" id="coupon-status"></p>
                              </div>
                                <div class="mb-3 col-12 col-md-11">
                                  <select class="" style="width: 60%" onchange="couponApplied(this.value)">
                                    <option value="" disabled selected >Select your coupon</option>
                                    <% if (locals.coupons && locals.coupons.length > 0) { %>
                                      <% for(let j = locals.coupons.length -1 ; j >= 0 ; j--) { %>
                                        <% if( !locals.coupons[j].used) { %>
                                    <option value="<%= locals.coupons[j].code %>">
                                      <div class="coupon-option">
                                        <span class="title"><%= locals.coupons[j].title %></span>
                                        <span class="percentage"><%= locals.coupons[j].percentage %>% off</span>
                                      </div>
                                    </option>
                                    <% } %>
                                    <% } %>

                                    <% } else { %>
                                      <p>no coupons</p>
                                      <% } %> 
                                  </select>
                                </div>
                             </div>
                          </div> 
                       

                        
                        




                           <div class="col-lg-6 col-md-12">
                              <div class="border p-md-4 p-30 border-radius cart-totals">
                                  <div class="heading_s1 mb-3">
                                      <h4>Cart Totals</h4>
                                  </div>
                                  <div class="table-responsive">
                                      <table class="table">
                                          <tbody>
                                              <tr>
                                                  <td class="cart_total_label">Cart Subtotal</td>
                                                  <td class="cart_total_amount"><span class="font-lg fw-900 text-brand" id="subtotal"><%= total %></span></td>
                                              </tr>
                                              <tr>
                                                  <td class="cart_total_label">Shipping</td>
                                                  <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                              </tr>
                                              <tr>
                                                  <td class="cart_total_label">Total</td>
                                                  <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand" id='totalAmout'><%= total %></span></strong></td>

                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <a href="/proceed-to-checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                              </div>
                          </div>
                      </div>



                    </div>
                </div>
            </div>
        </section>


    </main>







    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#coupon-form').submit(function(event) {
              event.preventDefault(); // prevent default form submission
  
              // get the coupon code from the input element
              var couponCode = $('#coupon-code-input').val();
             
              var total = document.getElementById('cart-total').value
              console.log(total)
              // make an AJAX call to your API endpoint
              $.ajax({
                  url: '/coupon-submit',
                  method: 'POST',
                  data: { couponCode, total },
                  success: function(response) {
                      // handle success response here
                      console.log(response);
                      document.getElementById('coupon-status').innerHTML = response.status
                      if(response.status != 'Invalid Coupon'){
                        document.getElementById('totalAmout').innerHTML = response.amount
                      }
                  },
                  error: function(error) {
                      // handle error response here
                      console.error(error);
                  }
              });
          });
      });



      const changeQuantity = (cartId, productId, userId, count,productPrice,i) => {
        console.log(productPrice)
  let quantity = parseInt(document.getElementById(productId).innerHTML);
  $.ajax({
    type: "POST",
    url: "/change-quantity",
    data: {
      cartId: cartId,
      productId: productId,
      count: count,
      quantity: quantity,
      userId: userId,
      i
      
    
    },
    success: (response) => {
      if (response.removed) {
        swal({
          title: "Removed!",
          text: "Sucessfully!",
          icon: 'success',
          button : false,
          timer: 1000,
        });
        location.reload()
      } else {
        let india = new Intl.NumberFormat("en-IN",{
          style: 'currency',
          currency: 'INR'
      })
       
        document.getElementById(productId).innerHTML = quantity + count;
        const num = quantity+count
        console.log(num)
        const price = parseInt(productPrice)
        let sub= num*price
        console.log(sub)
        let formattedPrice = india.format(sub)
        
      
        const total = india.format(response.total.total)
      
        document.getElementById("totalAmout").innerHTML = total;
        document.getElementById("subtotal").innerHTML = total;
        document.getElementById(productId+'-subtotal').innerHTML = formattedPrice

        console.log(response.total);

        //  const subtotalArr = response.subtotal
        //  for(let i=0; i < subtotalArr.length; i++){
        //   const subtotal = subtotalArr[i].subtotal
        //   const productId = subtotal._id.toString()
        //   document.getElementById(`${productId}-subtotal`).innerHTML = `${subtotal}`
        //  }
      }
    },
    error: function (data) {
      alert(data);
      console.log(JSON.stringify(data));
    },
  });
};

const removeCartItem = (cartId, prodcutId)=>{
  swal({
    title: "Are you sure?",
    text: "",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  }).then((willDelete) => {
    if (willDelete) {
      swal("Poof! Your item has been deleted!", {
        icon: "success",
      }).then(() => {
        removeItem(cartId, prodcutId)
      });
    } else {
      swal("Your item is safe!");
    }
  });
}

const removeItem = (cartId, productId) => {
  $.ajax({
    type: "POST",
    url: "/delete-cartItem",
    data: {
      cartId: cartId,
      productId: productId,
    },
    success: (response) => {
      if (response.status) {
        location.reload();
      }
    },
  });
};

// const orderAndPayment=()=>{
//   $.ajax({
//     type: 'post',
//     url:'/proceed-to-checkout',
//     data: $('#checkout-form').serialize(),
//     success:(response)=>{
//       console.log(response)
//       if(response.status === 'COD'){
//         location.href('/order-success-page')
//       }else if(response.status === 'UPI'){
//         location.reload()
//       }
//     }
//   })
// }

// $("#checkout-form").submit((e) => {
//   e.preventDefault();
//   $.ajax({
//     url: '/proceed-to-checkout',
//     method: 'post',
//     data: $('#checkout-form').serialize(),
//     success: (response) => {
//       switch (response.status) {
//         case "COD":
//           swal("Successfull !", "Order Placed Successfully !", "success").then(
//             () => {
//               location.href("/order-success-page");
//             }
//           );
//         case "UPI":
//           razorPayPayment(response);
//       }
//     },
//     error: (response, stat, err) => {
//       console.log(response);
//     },
//   });
// });


function couponApplied(code){

  var total = document.getElementById('cart-total').value
              
              // make an AJAX call to your API endpoint
              $.ajax({
                  url: '/coupon-submit',
                  method: 'POST',
                  data: {
                     couponCode : code,
                     total 
                    },
                  success: function(response) {
                      // handle success response here
                      console.log(response);
                      document.getElementById('coupon-status').innerHTML = response.status
                      if(response.status != 'Invalid Coupon'){
                        document.getElementById('totalAmout').innerHTML = response.amount
                      }
                  },
                  error: function(error) {
                      // handle error response here
                      console.error(error);
                  }
              });

}





  </script>
 <%- include('footer-1') -%>