<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

<head>
  <meta charset="utf-8">
  <title>Evara - eCommerce HTML Template</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/user/imgs/theme/favicon.svg">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/user/css/main.css">
  <!-- Font Awesome -->

</head>

<body>












  <header class="header-area header-style-1 header-height-2">

    <!-- allcategory ,search bar , whislist , cart -->
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
      <div class="container">
        <div class="header-wrap">
          <div class="logo logo-width-1">
            <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo" /></a>
          </div>
          <div class="header-right">
            <div class="search-style-2">
              <form action="#">
                <select class="select-active">
                  <option>All Categories</option>
                  <option>Dive Watches</option>
                  <option>Dress Watches</option>
                  <option>Pilot's Watches</option>
                  <option>GMT Watches</option>
                  <option>Digital Watches</option>
                  <option>Ladies Watches</option>
                </select>
                <input type="text" placeholder="Search for items..." />
              </form>
            </div>
            <div class="header-action-right">
              <div class="header-action-2">
                <div class="header-action-icon-2">
                  <a href="shop-wishlist.html">
                    <img class="svgInject" alt="TimesHub" src="/assets/user/imgs/theme/icons/icon-heart.svg" />
                    <span class="pro-count blue">4</span>
                  </a>
                </div>
                <div class="header-action-icon-2">
                  <a class="mini-cart-icon" href="/view-cart">
                    <img alt="Evara" src="/assets/user/imgs/theme/icons/icon-cart.svg" />
                    <span class="pro-count blue">1</span>
                  </a>
                  <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara"
                                                            src="/assets/user/imgs/shop/thumbnail-3.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara"
                                                            src="/assets/user/imgs/shop/thumbnail-2.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                    <h4><span>1 × </span>$3200.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="/view-cart" class="outline">View cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom header-bottom-bg-color sticky-bar">
      <div class="container">
        <div class="header-wrap header-space-between position-relative">
          <div class="logo logo-width-1 d-block d-lg-none">
            <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo" /></a>
          </div>
          <div class="header-nav d-none d-lg-flex">
            <div class="main-categori-wrap d-none d-lg-block">
              <a class="categori-button-active" href="#">
                <span class="fi-rs-apps"></span> Browse Categories
              </a>
              <div class="categori-dropdown-wrap categori-dropdown-active-large">
                <ul>
                  <li class="has-children">
                    <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Dive Watches</a>
                  </li>
                  <li class="has-children">
                    <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Dress Watches</a>
                  </li>
                  <li class="has-children">
                    <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Pilot's Watches</a>
                  </li>
                  <li>
                    <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>GMT Watches</a>
                  </li>

                  <li>
                    <ul class="more_slide_open" style="display: none">
                      <li>
                        <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Digital
                          Watches</a>
                      </li>
                      <li>
                        <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>Ladies
                          Watches</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="more_categories">Show more...</div>
              </div>
            </div>
            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
              <nav>
                <ul>
                  <li>
                    <a class="active" href="/">Home <i class="fi-rs-angle-down"></i></a>
                    <ul class="sub-menu">
                      <li><a href="/">Home 1</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="page-about.html">About</a>
                  </li>
                  <li>
                    <a href="/shop">Shop <i class=""></i></a>
                    <!-- <ul class="sub-menu">
                                            <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                            <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                            <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                            <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                            <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                            <li><a href="#">Single Product <i class="fi-rs-angle-right"></i></a>
                                                
                                            </li>
                                            <li><a href="shop-filter.html">Shop – Filter</a></li>
                                            <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                            <li><a href="shop-cart.html">Shop – Cart</a></li>
                                            <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                            <li><a href="shop-compare.html">Shop – Compare</a></li>
                                        </ul> -->
                  </li>

                  <li>
                    <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                    <ul class="sub-menu">
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="/userAccount">My Account</a></li>
                      <li><a href="/login">login/register</a></li>
                      <li><a href="/user-logout">Logout</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <!-- <li><a href="page-terms.html">Terms of Service</a></li>
                                            <li><a href="page-404.html">404 Page</a></li> -->
                    </ul>
                  </li>
                  <li>
                    <a href="page-contact.html">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="hotline d-none d-lg-block">
            <p>
              <i class="fi-rs-headset"></i><span>Helpline</span> 1900 - 888
            </p>
          </div>
          <p class="mobile-promotion">
            Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to
            40%
          </p>
          <div class="header-action-right d-block d-lg-none">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <a href="shop-wishlist.html">
                  <img alt="Evara" src="/assets/user/imgs/theme/icons/icon-heart.svg" />
                  <span class="pro-count white">4</span>
                </a>
              </div>
              <div class="header-action-icon-2">
                <a class="mini-cart-icon" href="shop-cart.html">
                  <img alt="Evara" src="/assets/user/imgs/theme/icons/icon-cart.svg" />
                  <span class="pro-count white">2</span>
                </a>
                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                  <ul>
                    <li>
                      <div class="shopping-cart-img">
                        <a href="shop-product-right.html"><img alt="Evara" src="/assets/user/imgs/shop/thumbnail-3.jpg" /></a>
                      </div>
                      <div class="shopping-cart-title">
                        <h4>
                          <a href="shop-product-right.html">Plain Striola Shirts</a>
                        </h4>
                        <h3><span>1 × </span>$800.00</h3>
                      </div>
                      <div class="shopping-cart-delete">
                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                      </div>
                    </li>
                    <li>
                      <div class="shopping-cart-img">
                        <a href="shop-product-right.html"><img alt="Evara" src="/assets/user/imgs/shop/thumbnail-4.jpg" /></a>
                      </div>
                      <div class="shopping-cart-title">
                        <h4>
                          <a href="shop-product-right.html">Macbook Pro 2022</a>
                        </h4>
                        <h3><span>1 × </span>$3500.00</h3>
                      </div>
                      <div class="shopping-cart-delete">
                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                      </div>
                    </li>
                  </ul>
                  <div class="shopping-cart-footer">
                    <div class="shopping-cart-total">
                      <h4>Total <span>$383.00</span></h4>
                    </div>
                    <div class="shopping-cart-button">
                      <a href="shop-cart.html">View cart</a>
                      <a href="shop-checkout.html">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-action-icon-2 d-block d-lg-none">
                <div class="burger-icon burger-icon-white">
                  <span class="burger-icon-top"></span>
                  <span class="burger-icon-mid"></span>
                  <span class="burger-icon-bottom"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


















  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo"></a>
        </div>
        <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…">
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
              </ul>
            </div>
          </div>
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                <ul class="dropdown">
                  <li><a href="index.html">Home 1</a></li>
                  <li><a href="index-2.html">Home 2</a></li>
                  <li><a href="index-3.html">Home 3</a></li>
                  <li><a href="index-4.html">Home 4</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a
                  href="shop-grid-right.html">shop</a>
                <ul class="dropdown">
                  <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                  <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                  <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                  <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                  <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                  <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                      <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                      <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="shop-filter.html">Shop – Filter</a></li>
                  <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                  <li><a href="shop-cart.html">Shop – Cart</a></li>
                  <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                  <li><a href="shop-compare.html">Shop – Compare</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                <ul class="dropdown">
                  <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Dresses</a></li>
                      <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                      <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                      <li><a href="shop-product-right.html">Women's Sets</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's Fashion</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Jackets</a></li>
                      <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                      <li><a href="shop-product-right.html">Genuine Leather</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Technology</a>
                    <ul class="dropdown">
                      <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                      <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                      <li><a href="shop-product-right.html">Tablets</a></li>
                      <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                      <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a
                  href="blog-category-fullwidth.html">Blog</a>
                <ul class="dropdown">
                  <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                  <li><a href="blog-category-list.html">Blog Category List</a></li>
                  <li><a href="blog-category-big.html">Blog Category Big</a></li>
                  <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                  <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product
                      Layout</a>
                    <ul class="dropdown">
                      <li><a href="blog-post-left.html">Left Sidebar</a></li>
                      <li><a href="blog-post-right.html">Right Sidebar</a></li>
                      <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="page-about.html">About Us</a></li>
                  <li><a href="page-contact.html">Contact</a></li>
                  <li><a href="page-account.html">My Account</a></li>
                  <li><a href="page-login-register.html">login/register</a></li>
                  <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                  <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                  <li><a href="page-terms.html">Terms of Service</a></li>
                  <li><a href="page-404.html">404 Page</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"><img src="/assets/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
          <a href="#"><img src="/assets/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
          <a href="#"><img src="/assets/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
          <a href="#"><img src="/assets/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
          <a href="#"><img src="/assets/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>













  <main class="main">



    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> Shop
          <span></span> order-confirm
        </div>
      </div>
    </div>







    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table shopping-summery text-center clean">
                <thead>
                  <tr class="main-heading">
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>

                  </tr>
                </thead>

                <tbody>



                  <% for (var i=0; i < cartItems.length; i++) { %>
                    <tr>
                      <td class="image product-thumbnail" ><img src="<%= locals.cartItems[i].product_image %>"
                          alt="#" style="width: 40px; height: 40px;"></td>
                      <td class="product-des product-name">
                        <h5 class="product-name"><a href="shop-product-right.html">
                            <%= locals.cartItems[i].product_title %>
                          </a></h5>

                        </p>
                      </td>
                      <td class="price" data-title="Price"><span id=""><%= locals.price[i] %></span>
                      </td>
                      <td class="text-center" data-title="Stock">
                        X <%= locals.cartItems[i].quantity %>
                      </td>
                      <td class="text-right" data-title="Cart">
                        <span id=""><%= locals.subtotals[i] %> </span>
                      </td>
                    </tr>

                    <% } %>





                      <tr>
                       
                      </tr>
                </tbody>
              </table>
              <% if ( !locals.Dtotal) { %>
              <input hidden type="text" id="cart-total" value="<%= total %>">
              <% }else { %>
                  <input hidden type="text" id="cart-total" value="<%= Dtotal %>">
                <% } %>
            </div>

            <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>

            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="cart_total_label">Cart Subtotal</td>
                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand"><%= GrandTotal %></span></td>
                  </tr>
                  <tr>
                    <td class="cart_total_label">Shipping</td>
                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                  </tr>
                  <tr>
                    <td class="cart_total_label">Total</td>
                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand"> <%= GrandTotal %>
                            </span></strong></td>
                  </tr>
                </tbody>
              </table>
            </div>






          </div>
        </div>
      </div>

    </section>



    <!-- address section -->
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">



            <div class="row mb-50">
              <div class="col-lg-6 col-md-12">
                <div class="heading_s1 mb-3">
                  <h4>Select Address</h4>
                </div>

                <!-- new address -->
                <div class="mb-30 mt-50">

                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item border border-danger rounded">
                      <h5 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-primary text-white  btn-sm" type="button"
                          data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                          aria-controls="collapseOne">
                          Add New Address
                        </button>
                      </h5>


                      <div id="collapseOne" class="accordion-collapse collapse mt-2" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">


                        <div class="accordion-body">

                          <!-- address editing form -->
                          <div class="">



                            <!-- address adding form -->

                            <form action="/address-add" method="post">


                              <div class="row mt-2">
                                <div class="col-md-6"><label class="labels fw-bold">Name</label><input type="text"
                                    class="form-control" placeholder="first name" name="name"></div>
                                <div class="col-md-6"><label class="labels fw-bold">Surname</label><input type="text"
                                    class="form-control" value="" placeholder="surname" name="surname"></div>
                              </div>


                              <div class="row mt-2">
                                <div class="col-md-6"><label class="labels fw-bold">Mobile Number</label><input
                                    type="text" class="form-control" placeholder="phone number" name="mobile"></div>
                                <div class="col-md-6"><label class="labels fw-bold">Email ID</label><input type="text"
                                    class="form-control" placeholder="Email id" name="email"></div>
                              </div>



                              <div class="row mt-2">
                                <div class="col-md-6"><label class="labels fw-bold">Address Line 1</label><input
                                    type="text" class="form-control" placeholder="Address line 1" value=""
                                    name="addressLine1"></div>
                                <div class="col-md-6"><label class="labels fw-bold">Address Line 2</label><input
                                    type="text" class="form-control" placeholder="Address line 2" value=""
                                    name="addressLine2"></div>

                              </div>


                              <div class="row mt-2">
                                <div class="col-md-6"><label class="labels fw-bold">Pincode</label><input type="text"
                                    class="form-control" placeholder="Pincode" value="" name="pincode"></div>
                                <div class="col-md-6"><label class="labels fw-bold">Area</label><input type="text"
                                    class="form-control" placeholder="Area" value="" name="area"></div>
                              </div>


                              <div class="row mt-3">
                                <div class="col-md-6"><label class="labels fw-bold">Country</label><input type="text"
                                    class="form-control" placeholder="country" value="" name="country"></div>
                                <div class="col-md-6"><label class="labels fw-bold">State/Region</label><input
                                    type="text" class="form-control" value="" placeholder="state" name="state"></div>
                                <div class="btn-group btn-sm" role="group" aria-label="Basic radio toggle button group">
                                  <input type="radio" class="btn-check" name="type" id="btnradio1" autocomplete="off"
                                    checked value="Work">
                                  <label class="btn btn-outline-primary btn-sm" for="btnradio1">Work</label>

                                  <input type="radio" class="btn-check" name="type" id="btnradio2" autocomplete="off"
                                    value="Home">
                                  <label class="btn btn-outline-primary btn-sm" for="btnradio2">Home</label>
                                </div>
                              </div>




                              <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                  type="submit">Save Address</button></div>

                            </form>




                          </div>





                        </div>


                      </div>
                    </div>
                  </div>
                </div>





                <!-- select address -->
                <div class="col-lg-6 mt-4">

                  <!-- loop the div -->

                  <form id="checkout-form" >
                  <% for (let i=0; i < address.length; i++) { %>
                    <div class="card mb-5  mb-lg-0">
                      <div class="card-header d-flex " style="height: 50px;">


                        <label class="form-check-label" for="flexRadioDefault1">
                          <%= locals.address[i].type %>
                        </label>
                        <div class="align-items-center">

                          <input class="mt-2 ms-5 form-check-input align-items-center" type="radio"
                            name="address" value="<%= locals.address[i]._id %>" id="">
                        </div>


                      </div>

                      <div class="card-body ">
                        <address>
                          <%= locals.address[i].name %> &nbsp; <%= locals.address[i].surname %>,
                              <br>
                              <%= locals.address[i].addressLine1 %>, <%= locals.address[i].addressLine2 %>
                                  <br>
                                  <%= locals.address[i].pincode %>, <%= locals.address[i].area %><br>
                                      <%= locals.address[i].mobile %>
                        </address>
                      </div>

                    </div>
                    <% } %>

                </div>


              </div>



              <!-- payment details -->
              <div class="col-lg-6 col-md-12">
                <div class="border p-md-4 p-30 border-radius cart-totals">
                  <div class="heading_s1 mb-3">
                    <h4>payment methods</h4>
                  </div>
                  <div class="table-responsive ">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="cart_total_label">UPI</td>
                          <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">
                              <input type="radio" class="btn-check" name="payment" id="option1" value="UPI"
                                autocomplete="off" />
                              <label class="btn btn-success" for="option1">✔</label>
                            </span></td>

                        </tr>
                        <tr>
                          <td class="cart_total_label">CASH ON DELIVERY</td>
                          <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">
                              <input type="radio" class="btn-check" name="payment" id="option2" value="COD"
                                autocomplete="off" />
                              <label class="btn btn-success" for="option2">✔</label>
                            </span></td>
                        </tr>
                        <tr>
                          <td class="cart_total_label">WALLET <br>
                          <span id="wallet-Balance" style="color:rgb(38, 130, 123);"></span>
                          </td>
                          
                          <td onclick="checkWallet()" class="cart_total_amount"><span class="font-lg fw-900 text-brand">

                              <input type="radio" class="btn-check" name="payment" id="option3" value="WALLET"
                                autocomplete="off" />
                              <label class="btn btn-success" for="option3">✔</label>

                            </span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button class="btn btn-success">  <i class="fi-rs-box-alt mr-10"></i>Place Order</button>
               
                </form>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>




  </main>








  <!-- footer -->

  <footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-md-3 mb-lg-0">
            <div class="row align-items-center">
              <div class="col flex-horizontal-center">
                <img class="icon-email" src="/assets/user/imgs/theme/icons/icon-email.svg" alt="">
                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
              </div>
              <div class="col my-4 my-md-0 des">
                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <!-- Subscribe Form -->
            <form class="form-subcriber d-flex wow fadeIn animated">
              <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
              <button class="btn bg-dark text-white" type="submit">Subscribe</button>
            </form>
            <!-- End Subscribe Form -->
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding footer-mid">
      <div class="container pt-15 pb-20">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="widget-about font-md mb-md-5 mb-lg-0">
              <div class="logo logo-width-1 wow fadeIn animated">
                <a href="index.html"><img src="/assets/user/imgs/theme/logo.svg" alt="logo"></a>
              </div>
              <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
              <p class="wow fadeIn animated">
                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
              </p>
              <p class="wow fadeIn animated">
                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
              </p>
              <p class="wow fadeIn animated">
                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
              </p>
              <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
              <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                <a href="#"><img src="/assets/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="/assets/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="/assets/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="/assets/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="/assets/user/imgs/theme/icons/icon-youtube.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <h5 class="widget-title wow fadeIn animated">About</h5>
            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Support Center</a></li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-3">
            <h5 class="widget-title wow fadeIn animated">My Account</h5>
            <ul class="footer-list wow fadeIn animated">
              <li><a href="#">Sign In</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">My Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Order</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5 class="widget-title wow fadeIn animated">Install App</h5>
            <div class="row">
              <div class="col-md-8 col-lg-12">
                <p class="wow fadeIn animated">From App Store or Google Play</p>
                <div class="download-app wow fadeIn animated">
                  <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/assets/user/imgs/theme/app-store.jpg"
                      alt=""></a>
                  <a href="#" class="hover-up"><img src="/assets/user/imgs/theme/google-play.jpg" alt=""></a>
                </div>
              </div>
              <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                <img class="wow fadeIn animated" src="/assets/user/imgs/theme/payment-method.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
      <div class="row">
        <div class="col-12 mb-20">
          <div class="footer-bottom"></div>
        </div>
        <div class="col-lg-6">
          <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML
            Ecommerce Template </p>
        </div>
        <div class="col-lg-6">
          <p class="text-lg-end text-start font-sm text-muted mb-0">
            Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
          </p>
        </div>
      </div>
    </div>
  </footer>




  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="text-center">
          <h5 class="mb-5">Now Loading</h5>
          <div class="loader">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Vendor JS-->
  <!-- <script src="/javascripts/ajaxCalls.js"></script> -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>

    function checkWallet(){
      $.ajax({
        url: '/check-wallet-amount',
        method : 'get',
        success: (response)=>{
          if(response.status){
                 if(response.status){
            document.getElementById('wallet-Balance').innerHTML = "₹"+response.Balance
            var checkingSuccess = true
          }else{
            document.getElementById('wallet-Balance').innerHTML = 'Insufficient funds'
          }
            let cartAmount = document.getElementById('cart-total').value
            console.log('cartAmount' + cartAmount)
            console.log('walletAmount'+ response.Balance)
            if(cartAmount <= response.Balance ){
              swal({   
           title: "Your wallet ",
            text: `₹${response.Balance}`,
           buttons: true,
          }).then((willDelete) => {
          if (willDelete) {
          swal("Now you can Purchase with Wallet!", {
         icon: "success",
          }).then(() => {
            
            });
          } else {
          swal("Ok! NO problem");
          location.reload()
           }
        });
            }else{
            swal({   
           title: "Your wallet ",
            text: "Insufficient Funds",
           buttons: false,
           timer : 3000
          })
            }
          }else{
            swal({   
            text: "Wallet Not Found!",
           buttons: false,
           timer : 2000
          })
          setTimeout(()=>{
            location.reload()
          },3000)
          
          }
         
     
        }
      })
    }
    const changeQuantity = (cartId, productId, userId, count) => {
  
      let quantity = parseInt(document.getElementById(productId).innerHTML)
      $.ajax({
        type: 'POST',
        url: '/change-quantity',
        data: {
          cartId: cartId,
          productId: productId,
          count: count,
          quantity: quantity,
          userId: userId
        },
        success: (response) => {
          if (response.removed) {
            alert("Product reomove from your cart");
            location.reload();
          } else {
            document.getElementById(productId).innerHTML = quantity + count;
            document.getElementById('totalAmout').innerHTML = response.total.total;
            console.log(response.total.total)
          }
        },
        error: function (data) {
          alert(data);
          console.log(JSON.stringify(data));
        }
      })
    }

    const removeItem = (cartId, productId) => {
      $.ajax({
        type: 'POST',
        url: '/delete-cartItem',
        data: {
          cartId: cartId,
          productId: productId
        },
        success: (response) => {
          if (response.status) {
            location.reload()
          }
        }
      })

    }


  </script>
  <script src="/assets/user/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/assets/user/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/assets/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="/assets/user/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="/assets/user/js/plugins/slick.js"></script>
  <script src="/assets/user/js/plugins/jquery.syotimer.min.js"></script>
  <script src="/assets/user/js/plugins/wow.js"></script>
  <script src="/assets/user/js/plugins/jquery-ui.js"></script>
  <script src="/assets/user/js/plugins/perfect-scrollbar.js"></script>
  <script src="/assets/user/js/plugins/magnific-popup.js"></script>
  <script src="/assets/user/js/plugins/select2.min.js"></script>
  <script src="/assets/user/js/plugins/waypoints.js"></script>
  <script src="/assets/user/js/plugins/counterup.js"></script>
  <script src="/assets/user/js/plugins/jquery.countdown.min.js"></script>
  <script src="/assets/user/js/plugins/images-loaded.js"></script>
  <script src="/assets/user/js/plugins/isotope.js"></script>
  <script src="/assets/user/js/plugins/scrollup.js"></script>
  <script src="/assets/user/js/plugins/jquery.vticker-min.js"></script>
  <!-- Template  JS -->
  <script src="/assets/user/js/main.js"></script>
  <script src="/assets/user/js/shop.js"></script>
  
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/ajax.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>
    $("#checkout-form").submit((e) => {
  e.preventDefault();
  $.ajax({
    url: '/proceed-to-checkout',
    method: 'post',
    data: $('#checkout-form').serialize(),
    success: (response) => {
      
      switch (response.status) {
        case "COD":
              location.replace("/order-success-page");
              break;
        case "UPI":
          razorPayPayment(response.order);
          break;
        case "WALLET":
          location.replace("/order-success-page")
          break; 
      }
     
    },
    error: (response, stat, err) => {
      location.reload()
      console.log(response);
    },
  });
});




function razorPayPayment(order){

  console.log(order)

var options = {
    "key": 'rzp_test_2Nt8hWDvPKHDDI', // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       
        // location.replace("/order-success-page");

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#0fdb1d"
    }
};

var rzp1 = new Razorpay(options);
rzp1.open();


}

 function verifyPayment(payment,order){
  $.ajax({
    url : '/verify-payment',
    data: {
      payment,
      order,
    },
    type: 'post',
    success:(response)=>{
      if(response.status){
        location.replace("/order-success-page");
      }else{
        alert('payment failed')
      }
    }
  })
 }

  </script>





</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

</html>