<%- include('header-1') -%>

<div class="container mb-4">
  <div id="modal">
    <div id="modal-content">
        <h1 style="color: darkgoldenrod;">✨You've got a coupon!</h1>
        <p style="color: black;">check your Account, use coupon code in your next order!🎁</p>
        <a href="#" class="close-btn" onclick="hideModal()">&times;</a>
    </div>
</div>
  <div class="row d-flex cart align-items-center justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="d-flex justify-content-center border-bottom">
          <div class="p-3">
            <div class="progresses">
              <div class="steps">
                <span><i class="fa fa-check"></i></span>
              </div>
              <span class="line"></span>
              <div class="steps">
                <span><i class="fa fa-check"></i></span>
              </div>
              <span class="line"></span>
              <div class="steps"><span class="font-weight-bold">3</span></div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-6 border-right p-5">
            <div class="text-center order-details">
              <div
                class="d-flex justify-content-center mb-5 flex-column align-items-center"
              >
                <span class="check1"><i class="fa fa-check"></i></span>
                <span class="font-weight-bold">Order Confirmed</span>
                <small class="mt-2">Your illustraion will go to you soon</small>
                <a
                  onclick=" generateSalesReport('pdf', '<%= locals.orderIds %>')"
                  class="text-decoration-none invoice-link" 
                  ><span style="color: rgb(29, 247, 80);">Download Invoice</span></a
                >
              </div>
              <a href="/" style="text-decoration: none">
                <button class="btn btn-danger btn-block order-button">
                  Go to your Home
                </button></a
              >
            </div>
          </div>
          <div class="col-md-6 background-muted">
            <div class="p-3 border-bottom">
              <div class="d-flex justify-content-between align-items-center">
                <span
                  ><i class="fa fa-clock-o text-muted"></i> 3 days
                  delivery</span
                >
                <span
                  ><i class="fa fa-refresh text-muted"></i> 2 Max
                  Revisions</span
                >
              </div>
              <div class="mt-3">
                <h6 class="mb-0">Illustraion in Sketch or AI</h6>
                <span class="d-block mb-0">Date: <%= locals.Date %> </span>
                <!-- <div class="d-flex flex-column mt-3"> <small><i class="fa fa-check text-muted"></i> Vector file</small> <small><i class="fa fa-check text-muted"></i> Sources files</small> </div> -->
              </div>
            </div>
            <div class="row g-0 border-bottom">
              <div class="col-md-6 border-right">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span>items</span>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span><%= locals.items %></span>
                </div>
              </div>
            </div>
            <div class="row g-0 border-bottom">
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span>Subtotal</span>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span><%= locals.subtotal %></span>
                </div>
              </div>
            </div>
            <div class="row g-0 border-bottom">
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span>Processing fees</span>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span>₹00.00</span>
                </div>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span class="font-weight-bold">Total</span>
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="p-3 d-flex justify-content-center align-items-center"
                >
                  <span class="font-weight-bold"><%= GrandTotal %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function showModal() {
    document.getElementById('modal').style.display = 'flex';
}
function hideModal() {
    document.getElementById('modal').style.display = 'none';
}
</script>

<%- include('footer-1') -%>
